body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(120deg,#B3E5FC, #ffffff) fixed;*/
    height: 100vh;
    background: white url("@/assets/background.jpg") no-repeat fixed top;
    background-size: 100%;
    /*overflow: hidden;*/
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;

}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #0288D1;
    border-radius: 20px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

input[type="submit"]:hover {
    border-color: #0288D1;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #0288D1;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}


.float-lg-end {
    padding-right: 40px;
}

.img-large {
    width: 350px;
    border-color: white;
}

.input-group {
    color: black;
    border: aquamarine;
}

.form-select {
    padding-right: 10px;
}

.input-group-text {

}

.form-control {
    background-color: aliceblue;

}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.parcelDropdown select {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    min-height: 30px;
}

.disabled {
    display: none;
}

#nupp {
    padding: 50px;
    justify-content: center;
}

.actionButton:hover {
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

.edit {
    display: none;
}

.editing .edit {
    display: inline;
}

.editing .view {
    display: none;
}

input[type="number" i] {
    max-width: 60px;
}

.tableInput {
    max-width: 150px;
}

.fa-circle-check {
    color: darkgreen;
}

.fa-circle-xmark {
    color: darkred;
}

.list-group-item {

    padding-left: 10px;
    padding: 10px;
}

.list-group-item a:hover {

    color: #42b983;
}

.list-group-item.active {
    background-color: #efefef;
    font-weight: bold;
}

.circle-icon {
    background: #ffffff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

.login-icon {
    translate: 0% -50%;
    color: #666;
    width: 50px;
    height: 50px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    transition: .2s;
}


.nav a:hover {
    font-weight: bold;

    transition: .2s;
    scale: 1.1;
}


nav a.active {
    color: #adadad;
}

.alert {
    border: none !important;
    border-radius: 0;
}

.menu {
    background-color: #028bcc;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table > thead {
    background-color: #028bcc;
    color: white;
}

.side-navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: white;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
    font-weight: bold;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 180px;
}

.product-item {
    border: 1px solid #eeeeee;
}

.product-img {
    position: relative;
    overflow: hidden;
}

.btns {
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.btns button {
    border: none;
    background-color: #028bcc;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btns button:hover {
    font-weight: bold;
    color: #fff !important;
}

.btns a {
    color: #fff !important;
    font-weight: normal;
}

.btns a:hover {
    font-weight: bold;
    color: #fff !important;
}

.product-img:hover .btns {
    bottom: 0;
}

.product-type {
    font-size: 13px;
    opacity: 0.8;
}

.product-name {
    transition: all 0.3s ease-in-out;
}

.product-name:hover {
    color: #028bcc !important;
}

.rating {
    font-size: 13px;
}

.product-item {
    width: 300px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

.nav-upper a:hover {
    color: white;
}

.file-btn {
    width: 100px;
    background-color: #0288D1;
    color: white;
    border-radius: 5px !important;
    cursor: pointer;
    padding: 5px;
}

.btn-outline-blue {
    border: 1px solid #028bcc;
    color: #028bcc;
    text-transform: uppercase;
    min-width: 100px;
}

.btn-outline-blue:hover {
    background-color: #028bcc;
    color: white;
}

.btn-blue {
    border: 1px solid #028bcc;
    background-color: #028bcc;
    color: white;
    text-transform: uppercase;
    min-width: 100px;
}

.btn-blue:hover {
    background-color: #027ecc;

    color: white;
}

.navbar-brand {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.box-shadow {
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

.card-back {
    position: relative;
    background: rgba(255,255,255,0.75);
    padding: 10px;
    z-index: 0;
}

.back-white {
    background: rgba(255,255,255,0.75);
    min-width: 160px;
}

#leftMenu {
    background-color: white;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    padding: 10px !important;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
}

@media screen and (max-width: 992px) {
    #leftMenu {
        background-color: transparent;
        box-shadow: none;
        width: 10px;
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #028bcc;
}

.table tbody>tr {
    background: rgba(255,255,255,0.9);
}

.circle {
    width: 80px;
    height: 80px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 5%);
    translate: 0% -50%;
}
