.float-lg-end {
    padding-right: 40px;
}
.img-thumbnail {
    width: 100px;
    height: 100px;
}
.input-group {

    color: black;
    border: aquamarine;
}
.form-select {
    padding-right: 10px;


}
.col-3 {
    padding: 10px;
    width: 500px;
    color: black;
    border: dot-dash black;
    lighting-color: aliceblue;
    justify-content: right;

}
.input-group-text {

}
.form-control {
    background-color: aliceblue;

}
.col-6 {
    max-height: 300px;
    max-width: 300px;
}

.parcelDropdown {
white-space: nowrap;
font-size: 1rem;
font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
}

.parcelDropdown img {
    display: none;
}

.parcelDropdown label {
    display: none;
}

#omniva_select2 {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    min-height: 30px;
}

.disabled {
    display: none;
}